body, html {
	overflow-x: hidden;
	font-family: 'Quicksand', sans-serif;
  height: 100%;
}
section {
	padding: 5rem 0;
}
.header {
  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
  background: #03001e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdeff9, #fd79a8, #1e3c72, #03001e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdeff9, #fd79a8, #1e3c72, #03001e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ===== Navigation Bar ===== */
.navbar-brand img {
  width: 2rem;
  height: 2rem;
  padding: 0;
}
.nav-link {
  font-size: 1.1em;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
}

/* ===== Home Page ===== */
/* ===== Background Video ===== */
.showcase {
  position: relative;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1.5rem;
  color: white;
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: no-repeat center center/cover;
}
.video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Background Overlay Color */
.video-container:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.content {
  z-index: 10;
}
.viberent-header {
  font-size: 7em;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
  font-weight: 700;
  text-indent: 0.7rem;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.content h2 {
  font-size: 2em;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  letter-spacing: 0.1rem;
}

/* ===== Dye Videos ===== */
#dyes h2 {
  font-size: 2em;
}
#dyes h3 {
  font-size: 1.5em;
  margin-bottom: 2rem;
}
#dyes h4 {
  margin-top: 2rem;
  margin-bottom: 0;
}
.dyesBtn {
  height: 100px;
  width: 100px;
  border-radius: 50% !important;
}
.dyeVideos {
  width: 66vw;
  border-radius: 1%;
}
.saved {
  display: inline-block;
  margin: 1rem 0;
  font-size: 1.3em;
}
#redBtn {
  background-color: #F8BBD0;
}
#blueBtn {
  background-color: #000080;
}
.hidden {
  display: none;
}

/* ===== Footer ===== */
footer {
  padding: 5rem 0 1rem 0;
  background-color: black;
  color: white;
}
footer img {
  width: 50px;
  margin: 2.5rem;
}
footer p {
  padding: 0 0.5em;
}

/* ===== About Us Page ===== */
#about img {
  height: 140px;
	width: 140px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}
#about .col-12, .col-6, .col-md-3 {
  text-align: center;
  padding: 15px;
}
#about h2 {
  font-size: 1.3em;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
#about p {
  text-align: center;
}

/* Our Story Page */
#story p {
  font-size: 1.5em;
}

/* ===== Media Queries ===== */
@media (max-width: 767.98px) {
  .viberent-header {
    font-size: 6rem;
  }
}
@media (max-width: 515px) {
  .viberent-header {
    font-size: 4.3em;
  }
  .header {
    font-size: 3em;
  }
  .content h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 425px) {
  .viberent-header {
    font-size: 3em;
  }
  .header {
    font-size: 2.3em;
  }
  .content h2 {
    font-size: 1.2em;
  }
  #dyes h2 {
    font-size: 1.4em;
  }
  #dyes h3 {
    font-size: 1.2em;
  }
  #dyes h4 {
    font-size: 1.4em;
  }
  #story p {
    font-size: 1.2em;
  }
}
@media (max-width: 320px) {
  .viberent-header {
    font-size: 2.5em;
  }
  .header {
    font-size: 2em;
  }
  #about h2 {
    font-size: 1.2em;
  }
  #about p {
    font-size: 0.9em;
  }
  footer p {
    font-size: 0.7em;
  }
}
@media (max-width: 280px) {
  .viberent-header {
    font-size: 2em;
  }
  .header {
    font-size: 1.75em;
  }
  .content h2 {
    font-size: 1em;
  }
  #dyes h2 {
    font-size: 1.2em;
  }
  #dyes h3 {
    font-size: 0.9em;
  }
  #dyes h4 {
    font-size: 1.2em;
  }
}