{% extends "layout.html" %}
{% block content %}
  <section id="about">
    <h1 class="text-center">Meet the Team</h1>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <img src="../static/images/diana-valdes.jpg" alt="Diana Valdes" loading="lazy">
        <h2>Diana Valdes</h2>
        <p>CEO</p>
      </div>
      <div class="col-md-3">
        <picture>
          <source type="image/webp" srcset="../static/images/tiffany-wang.webp">
          <source type="image/jpeg" srcset="../static/images/tiffany-wang.jpg">
            <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        </picture>
        <h2>Tiffany Wang</h2>
        <p>Chief Product Officer</p>
      </div>
      <div class="col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p >Tiffany Wang</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
      <div class="col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
      <div class="col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
      <div class="col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
      <div class="col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
      <div class="col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
      <div class="col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
      <div class="col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
      <div class="col-md-3">
        <img src="../static/images/brian-wang.jpg" alt="Brian Wang" loading="lazy">
        <h2>Brian Wang</h2>
      </div>
    </div>
  </section>
{% endblock content %}
