{% extends "layout.html" %}
{% block content %}
  <section id="about">
    <h1 class="header">Meet the Team</h1>
    <div class="row justify-content-center">
      <div class="col-12 col-md-3">
        <img src="../static/images/diana-valdes.jpg" alt="Diana Valdes" loading="lazy">
        <h2>Diana Valdes</h2>
        <p>Chief Executive Officer</p>
      </div>
      <div class="col-6 col-md-3">
        <picture>
          <source type="image/webp" srcset="../static/images/tiffany-wang.webp">
          <source type="image/jpeg" srcset="../static/images/tiffany-wang.jpg">
            <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        </picture>
        <h2>Tiffany Wang</h2>
        <p>Chief Product Officer</p>
      </div>
      <div class="col-6 col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Richard Miller" loading="lazy">
        <h2>Richard Miller</h2>
        <p>Chief Technology Officer</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Kayleen Chee" loading="lazy">
        <h2>Kayleen Chee</h2>
      </div>
      <div class="col-6 col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Jefferson Lei" loading="lazy">
        <h2>Jefferson Lei</h2>
      </div>
      <div class="col-6 col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Ruixiao Liu" loading="lazy">
        <h2>Ruixiao Liu</h2>
      </div>
      <div class="col-6 col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Arthur Miranda-Huicochea" loading="lazy">
        <h2>Arthur Miranda-Huicochea</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Khoa Nguyen" loading="lazy">
        <h2>Khoa Nguyen</h2>
      </div>
      <div class="col-6 col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Nam Nguyen" loading="lazy">
        <h2>Nam Nguyen</h2>
      </div>
      <div class="col-6 col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Tanay Patil" loading="lazy">
        <h2>Tanay Patil</h2>
      </div>
      <div class="col-6 col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Tatiana Podhajny" loading="lazy">
        <h2>Tatiana Podhajny</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6 col-md-3">
        <img src="../static/images/tiffany-wang.jpg" alt="Aku Saraf" loading="lazy">
        <h2>Aku Saraf</h2>
      </div>
      <div class="col-6 col-md-3">
        <img src="../static/images/brian-wang.jpg" alt="Brian Wang" loading="lazy">
        <h2>Brian Wang</h2>
        <p>Front-End Web Developer</p>
      </div>
      <div class="col-6 col-md-3">
        <img src="../static/images/user.svg" alt="Yan Yu" loading="lazy">
        <h2>Yan Yu</h2>
      </div>
    </div>
  </section>
{% endblock content %}
