{% extends "layout.html" %}
{% block content %}
  <section id="about">
    <h1 class="header">Meet the Team</h1>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-3">
        <picture>
          <source type="image/webp" srcset="{{ url_for('static', filename='images/diana-valdes.webp') }}" loading="lazy">
          <source type="image/jpeg" srcset="{{ url_for('static', filename='images/diana-valdes.jpg') }}" loading="lazy">
          <img src="{{ url_for('static', filename='images/diana-valdes.jpg') }}" alt="Diana Valdes" loading="lazy">
        </picture>
        <h2>Diana Valdes</h2>
        <p>Chief Executive Officer</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <picture>
          <source type="image/webp" srcset="{{ url_for('static', filename='images/tiffany-wang.webp') }}" loading="lazy">
          <source type="image/jpeg" srcset="{{ url_for('static', filename='images/tiffany-wang.jpg') }}" loading="lazy">
          <img src="{{ url_for('static', filename='images/tiffany-wang.jpg') }}" alt="Tiffany Wang" loading="lazy">
        </picture>
        <h2>Tiffany Wang</h2>
        <p>Chief Technology Officer</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-3">
        <picture>
          <source type="image/webp" srcset="{{ url_for('static', filename='images/kayleen-chee.webp') }}" loading="lazy">
          <source type="image/jpeg" srcset="{{ url_for('static', filename='images/kayleen-chee.jpg') }}" loading="lazy">
          <img src="{{ url_for('static', filename='images/kayleen-chee.jpg') }}" alt="Kayleen Chee" loading="lazy">
        </picture>
        <h2>Kayleen Chee</h2>
        <p>Sustainability Consultant</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <picture>
          <source type="image/webp" srcset="{{ url_for('static', filename='images/jefferson-lei.webp') }}" loading="lazy">
          <source type="image/jpeg" srcset="{{ url_for('static', filename='images/jefferson-lei.jpg') }}" loading="lazy">
          <img src="{{ url_for('static', filename='images/jefferson-lei.jpg') }}" alt="Jefferson Lei" loading="lazy">
        </picture>
        <h2>Jefferson Lei</h2>
        <p>Materials Development Engineer</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <picture>
          <source type="image/webp" srcset="{{ url_for('static', filename='images/ruixiao-liu.webp') }}" loading="lazy">
          <source type="image/jpeg" srcset="{{ url_for('static', filename='images/ruixiao-liu.jpg') }}" loading="lazy">
          <img src="{{ url_for('static', filename='images/ruixiao-liu.jpg') }}" alt="Ruixiao Liu" loading="lazy">
        </picture>
        <h2>Ruixiao Liu</h2>
        <p>Software Design Engineer</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <picture>
          <source type="image/webp" srcset="{{ url_for('static', filename='images/arthur-miranda-huicochea.webp') }}" loading="lazy">
          <source type="image/jpeg" srcset="{{ url_for('static', filename='images/arthur-miranda-huicochea.jpg') }}" loading="lazy">
          <img src="{{ url_for('static', filename='images/arthur-miranda-huicochea.jpg') }}" alt="Arthur Miranda-Huicochea" loading="lazy">
        </picture>
        <h2>Arthur Miranda-Huicochea</h2>
        <p>Garment Production Engineer</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-3">
        <picture>
          <source type="image/webp" srcset="{{ url_for('static', filename='images/khoa-nguyen.webp') }}" loading="lazy">
          <source type="image/jpeg" srcset="{{ url_for('static', filename='images/khoa-nguyen.jpg') }}" loading="lazy">
          <img src="{{ url_for('static', filename='images/khoa-nguyen.jpg') }}" alt="Khoa Nguyen" loading="lazy">
        </picture>
        <h2>Khoa Nguyen</h2>
        <p>Production Design Coordinator</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <picture>
          <source type="image/webp" srcset="{{ url_for('static', filename='images/nam-nguyen.webp') }}" loading="lazy">
          <source type="image/jpeg" srcset="{{ url_for('static', filename='images/nam-nguyen.jpg') }}" loading="lazy">
          <img src="{{ url_for('static', filename='images/nam-nguyen.jpg') }}" alt="Nam Nguyen" loading="lazy">
        </picture>
        <h2>Nam Nguyen</h2>
        <p>Applications Engineer</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <picture>
          <source type="image/webp" srcset="{{ url_for('static', filename='images/tanay-patil.webp') }}" loading="lazy">
          <source type="image/jpeg" srcset="{{ url_for('static', filename='images/tanay-patil.jpg') }}" loading="lazy">
          <img src="{{ url_for('static', filename='images/tanay-patil.jpg') }}" alt="Tanay Patil" loading="lazy">
        </picture>
        <h2>Tanay Patil</h2>
        <p>System Integration Coordinator</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <picture>
          <source type="image/webp" srcset="{{ url_for('static', filename='images/tatiana-podhajny.webp') }}" loading="lazy">
          <source type="image/jpeg" srcset="{{ url_for('static', filename='images/tatiana-podhajny.jpg') }}" loading="lazy">
          <img src="{{ url_for('static', filename='images/tatiana-podhajny.jpg') }}" alt="Tatiana Podhajny" loading="lazy">
        </picture>
        <h2>Tatiana Podhajny</h2>
        <p>Fiber Investigator</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-3">
        <picture>
          <source type="image/webp" srcset="{{ url_for('static', filename='images/brian-wang.webp') }}" loading="lazy">
          <source type="image/jpeg" srcset="{{ url_for('static', filename='images/brian-wang.jpg') }}" loading="lazy">
          <img src="{{ url_for('static', filename='images/brian-wang.jpg')}}" alt="Brian Wang" loading="lazy">
        </picture>
        <h2>Brian Wang</h2>
        <p>Full-Stack Developer</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <picture>
          <source type="image/webp" srcset="{{ url_for('static', filename='images/yan-yu.webp') }}" loading="lazy">
          <source type="image/jpeg" srcset="{{ url_for('static', filename='images/yan-yu.jpg') }}" loading="lazy">
          <img src="{{ url_for('static', filename='images/yan-yu.jpg') }}" alt="Yan Yu" loading="lazy">
        </picture>
        <h2>Yan Yu</h2>
        <p>Creative Director</p>
      </div>
    </div>
  </section>
{% endblock content %}
