{% extends "layout.html" %}
{% block content %}
  <section id="story">
    <h1 class="header">Our Story</h1>
    <p>Our founder and CEO, Diana Valdes, grew up in a small town in Mexico where the only source of income was working at jean 
      manufacturing sweatshops (maquiladoras). The lack of financial stability and upward mobility pushed her single mom to migrate 
      to the United States in search of a better life. At 12 years old, Diana migrated too and when she moved to Marin County, 
      she no longer saw her mother make the clothes, she saw her buying them. While Diana began to experience the other side of 
      the fashion industry, the need for owning more emerged. In the Spring of 2017 she had the opportunity to travel to India, 
      where she saw piles of clothes replacing bodies of water right under a crossing bridge. The interesting part about this 
      experience was that she was not shocked at all, the sensation she felt when seeing piles of waste was a very familiar feeling.</p>
    <p>Diana has experienced first hand the complexity of the industry; the environmental pollution, the continuous exacerbation of 
      poverty in developing countries for the need to meet demand and the instilled drive to buy more clothes.</p>
    <p>Viberent was born out of this complexity and brings forward the need to transform the wasteful linear model of the fashion industry 
      into a closed loop model.</p>
    <p>While working towards her Bachelors Degree in Sociology at the University of California San Diego, Diana met Richard Miller 
      (Viberent’s Chief Technology Officer) and Tiffany Wang (Viberent’s Chief Product Officer).</p>
    <p>Richard from an early age learned  the value of maintaining and conserving supplies from our environment. While working towards 
      his double Bachelors Degrees in NanoEngineering and Economics, he extended this philosophy to the development of new technology, 
      where an emphasis on reusability, recyclability, and a reduction in the amount of materials used is an especially important 
      consideration.</p>
    <p>Tiffany studied abroad in New Zealand despite majoring in Chemical Engineering and still graduating on time. Seeing the gorgeous 
      Lord of the Ring’s scenery in New Zealand piqued her interest in sustainability. As a chemical engineer who is trained to scale 
      processes for mass production, she resolved to create new responsible, resource-efficient approaches to production and consumption 
      of clothes.</p>
    <p>Diana’s personal experience of both extremes of the fashion industry, along with Richard’s technical background and Tiffany’s 
      passion for scaling closed loop processes gave birth to Viberent on April 2019.</p>
  </section>
{% endblock content %}