{% extends "layout.html" %}
{% block content %}
  <section id="about">
    <div class="row justify-content-center">
      <div class="col-2">
        <img src="../static/images/diana-valdes.jpg" alt="Diana Valdes" loading="lazy">
        <p>Diana Valdes</p>
        <p>CEO</p>
      </div>
      <div class="col-2">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
        <p>Chief Product Officer</p>
      </div>
      <div class="col-2">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
      <div class="col-2">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
      <div class="col-2">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
      <div class="col-2">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
      <div class="col-2">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
      <div class="col-2">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
      <div class="col-2">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-2">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
      <div class="col-2">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
      <div class="col-2">
        <img src="../static/images/tiffany-wang.jpg" alt="Tiffany Wang" loading="lazy">
        <p>Tiffany Wang</p>
      </div>
    </div>
  </section>
{% endblock content %}
